<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="mx-auto" style="width: 850px; padding-top: 40px; padding-bottom: 40px;">
      <div class="card bg-white text-black">
        <img class="card-img" src="<%= image_path(@bg) %>" alt="Card image" style="width:850px; height:400px;">
          <div class="card-img-overlay box1">
            <p style="font-size: 30px;">&nbsp</p>
            <h1 class="card-text ff " align="center" style="font-size: 90px">당신의 이름은</h>
            <h1 class="card-text ff " align="center" style="font-size: 80px">인디언어로 무엇일까?</h>
        </div>
      </div>
      <p style="font-size: 30px; text-align: center;">당신의 이름은 인디언어로 무엇일까?</p>
      <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
          <input class="form-control mr-sm-2" style="width:810px;" type="search" placeholder="이름을 입력하세요" aria-label="Search">
        </form>
      </nav>
      <a href = "indians/viva">
      <button type="button" class="btn btn-primary btn-lg btn-block">결과보기</button>
      </a> 
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>