  <div class="mx-auto" style="width: 850px; padding-top: 40px; padding-bottom: 40px;">
      <div class="card bg-white text-black">
        <img class="card-img" src="<%= image_path('grad.jpg') %>" alt="Card image" style="width:850px; height:400px;">
          <div class="card-img-overlay box1">
            <p style="font-size: 30px;">&nbsp</p>
            <h1 class="card-text ff " align="center" style="font-size: 90px">당신의 이름은</h>
            <h1 class="card-text ff " align="center" style="font-size: 80px">인디언어로 무엇일까?</h>
        </div>
      </div>
      <p style="font-size: 30px; text-align: center;">당신의 이름은 인디언어로 무엇일까?</p>
      <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
          <input class="form-control mr-sm-2" style="width:810px;" type="search" placeholder="이름을 입력하세요" aria-label="Search">
        </form>
      </nav>
      <a href = "indians/viva">
      <button type="button" class="btn btn-primary btn-lg btn-block">결과보기</button>
      </a> 
    </div>